.no-results {
  padding: 20px;
  background-color: white;
}

.search-container {
  margin: 0 auto;
  background-color: #ebeeef;
}

.search-results {
  background-color: white;
}

.search-results-container {
  padding-bottom: 10px;
  max-width: 500px;
  margin: 0 auto;
}

.pager-container {
  padding-top: 10px;
  background-color: #ebeeef;
}

.pager {
  background-color: white;
  margin: 0 auto;
  width: fit-content;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 40px;
}

.results-page {
  overflow: hidden;
}

.pager-button {
  border: 0;
  font-size: 16px;
  background-color: white;
}
